:root {
  --primary-color: #221f1f;
  --secondary-color: #e50914;
  --tertiary-color: #f5f5f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--tertiary-color);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--secondary-color);
}


header {
  background-color: var(--primary-color);
  border-radius: 0px 0px 15px 15px;
  margin: 0px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 3vw;
  color: var(--tertiary-color);
  padding: 7px 7px 7px 15px;
}

header nav {
  margin: 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.75vw;
  color: var(--tertiary-color);
  text-decoration: none;
}

.section-title {
  text-align: center;
  color: var(--tertiary-color)
}

.hero {
  background-color: var(--primary-color);
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
}

.hero p {
  text-align: center;
}

.showcase {
  background-color: var(--primary-color);
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showcase h2 {
  padding: 10px;
}

.showcase div {
  margin: 10px;
}

#run-buddy {
  background-image: url("./assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  padding: 10px;
  border-radius: 15px;
}

#run-buddy div h3, #run-buddy div p {
  color: #fce138;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#horiseon {
  background-image: url("./assets/images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  padding: 10px;
  border-radius: 15px;
}

#horiseon div h3, #horiseon div p {
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
}

.contact-info {
  background-color: var(--primary-color);
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: var(--primary-color);
  margin: 5px 5px 0px 5px;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;
}